.block{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin-top: 10%;
    
}
.block:hover{
    box-shadow: 1px 2px 10px grey;
}
div{
    width: 100%;
    padding: 10px;

}
input{
    width: 80%;
    padding: 10px;
}
select{
    width: 27%;
    padding: 10px;
}
.message{
    margin: 0 auto;
    font-size: 30px;
    font-style: 'poppins';
    border: 1px solid red;
    background-color: rgba(230, 88, 88, 0.849);

}